@import "../../Styles/variables";
@import "../../Styles/mixins";

.netflixSlider {
  text-decoration: none;
  color: $white;
  outline: none;

  &__img {
    min-width: 50rem;
    margin: 0 1rem;
    position: relative;

    @include respond(tablet) {
      min-width: 35rem;
    }

    img {
      max-width: 100%;
      border-radius: 1rem;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    filter: drop-shadow(8px 10px 40px rgb(17, 17, 17));
  }

  & &__title {
    font-size: $font-md;
    font-weight: map-get($font-weight, bold);
  }
}
