@import "../../../Styles/mixins";
@import "../../../Styles/variables";

.banner {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;

  &__overlay {
    position: absolute;
    height: 8rem;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    top: 90%;
  }
}
