@import "../../../Styles/mixins";
@import "../../../Styles/variables";

.banner {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0 1rem;

  &__content {
    height: 100vh;
    max-width: 130rem;
    margin: 0 auto;
    @include flexbox(column, center, flex-start);

    h1 {
      font-size: 4.5rem;
      line-height: 1;

      @include respond(tablet) {
        font-size: 3rem;
      }
    }

    p {
      max-width: 50%;
      font-size: 1.6rem;
      font-weight: map-get($font-weight, Medium);
      margin: 2vh 0;

      @include respond(tablet) {
        font-size: 1.4rem;
        max-width: 70%;
      }
    }
  }

  &__btn {
    @include flexbox(row, center, center);
  }

  &__ &__overlay {
    position: absolute;
    height: 10rem;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    top: 90%;
  }
}
