@import "../../Styles/mixins";
@import "../../Styles/variables";
@import "../../Styles/animations";

.contentDetails {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond(tablet) {
    height: 60vh;
  }

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;

    @include respond(tablet) {
      height: 60vh;
    }
  }

  &__img {
    width: 28rem;
    box-shadow: 1px 3px 10px rgba(17, 17, 17, 0.397);

    @include respond(tablet) {
      width: 18rem;
    }

    img {
      max-width: 100%;
      border-radius: 1rem;
    }
  }

  &__scroll {
    height: 5rem;
    width: 3rem;
    border: 2px solid $white;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 10%;
    cursor: pointer;
    border-radius: 5rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      border: 2px solid $white;
      height: 1rem;
      width: 1rem;
      transform: translate(-50%, -50%) rotate(45deg);
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
    }

    &::before {
      top: 30%;
      animation-delay: 0.3s;
    }
  }

  &__info {
    margin: 4rem 0;
    @include flexbox(column, center, center);

    &--rating {
      height: 4rem;
      width: 4rem;
      background-color: $black;
      border-radius: 50%;
      border: 3px solid $Yellow;
      @include flexbox(row, center, center);
    }

    &--trailer {
      @include flexbox(row, center, center);
      margin: 2rem 0;
      width: 100vw;
      padding: 2rem 0;
      background-color: $DarkGrey;

      .trailerBtn {
        @include flexbox(row, center, center);
        font-size: $font-sm;
        text-decoration: none;
        color: $white;
        padding-left: 3rem;

        span {
          margin-left: 0.4rem;
        }
      }
    }

    &--title {
      @include flexbox(row, center, center);
      font-size: 4rem;
      font-weight: map-get($font-weight, bold);
    }

    &--date {
      margin-left: 1rem;
      font-size: $font-md;
      font-weight: map-get($font-weight, Light);
    }
  }

  &__genres {
    @include flexbox(row, flex-start, center);
    h1 {
      font-size: $font-xsm;
      font-weight: map-get($font-weight, Light);
      margin: 1rem 0;
    }
  }

  &__description {
    @include flexbox(column, center, flex-start);
    margin: 2rem 0;

    &--tagline {
      font-size: $font-md;
      color: $lightGrey;
      margin-bottom: 1rem;
    }

    &--overview {
      font-size: $font-sm;
      width: 70vw;
    }
  }
}
