@import "../../Styles/variables";
@import "../../Styles/mixins";

.nav {
  position: fixed;
  width: 100%;
  padding: 3rem 1rem;
  z-index: 10;
  transition: all 0.5s ease-in-out;

  @include respond(tablet) {
    padding: 1rem;
  }

  &__logo {
    &--d {
      background-color: $Yellow;
      color: $black;
      text-decoration: none;
      padding: 1rem 2rem 1rem 1rem;
      text-transform: uppercase;
      font-size: $font-md;
      font-weight: map-get($font-weight, bold);
      border-radius: 0.4rem 5rem 5rem 0.4rem;

      @include respond(tablet) {
        font-size: $font-sm;
        padding: 0.6rem 1rem 0.6rem 0.6rem;
      }
    }
  }

  &__humburger {
    color: $white;
    display: none;

    @include respond(tablet) {
      display: block;
      font-size: 3.8rem;
      margin-top: 0.3rem;
      cursor: pointer;
      z-index: 1000;
    }

    @include respond(mobile) {
      font-size: 3rem;
    }
  }

  &__container {
    max-width: 130rem;
    margin: 0 auto;
    @include flexbox(row, space-between, center);
  }

  &__list {
    @include flexbox(row, center, center);

    &--icon {
      font-size: 2rem;
      color: $white;

      &:hover {
        color: $Yellow;
      }

      @include respond(tablet) {
        display: block;
        order: -1;
        margin-right: 3vw;
      }
    }

    @include respond(tablet) {
      display: grid;
      grid-template-rows: repeat(6, 10rem);
      position: absolute;
      top: 0%;
      height: 100vh;
      background-color: $DarkGrey;
      width: 100%;
      left: 0;
      clip-path: circle(100px at 90% -40%);
      -webkit-clip-path: circle(100px at 90% -20%);
      transition: all 0.5s ease-in-out;

      @include respond(mobile) {
        grid-template-rows: repeat(6, 8rem);
      }
    }

    li {
      text-align: center;
      @include flexbox(row, center, center);

      @include respond(tablet) {
        display: block;
        padding: 2rem 0;
        width: 100vw;
        @include flexbox(row, center, center);
      }
      &:not(:last-child) {
        margin-right: 2vw;

        @include respond(tablet) {
          margin-right: 0;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    outline: none;
    font-size: $font-sm;
    color: $white;
    font-weight: map-get($font-weight, Medium);
    transition: all 0.3s ease;

    &:hover {
      color: $Yellow;
    }

    @include respond(tablet) {
      color: $white !important;
    }
  }
}

.open {
  clip-path: circle(1000px at 90% -15%);
  -webkit-clip-path: circle(1000px at 90% -20%);
}

.block-icon {
  display: block;
  font-size: 2.2rem;
  margin-bottom: -0.4rem;

  @include respond(tablet) {
    font-size: 2rem;
    color: $DarkGrey !important;
  }
}

.block-log {
  display: none;

  @include respond(tablet) {
    display: block;
    margin-bottom: 0.45rem;
    color: $DarkGrey !important;
  }
}

.active {
  @include respond(tablet) {
    background-color: $Yellow;
  }
}

// Scroll Anmimation classes
.black {
  background-color: $DarkGrey;
}
