@import "../../Styles/mixins";
@import "../../Styles/variables";

.search {
  margin-top: 10rem;
  min-height: 100vh;
  padding: 0 1rem;

  @include respond(tablet) {
    margin-top: 8rem;
  }

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__form {
    border-radius: 0.4rem;
    @include flexbox(row, flex-start, center);
  }

  &__input {
    border-radius: 0.3rem;
    width: 40vw;
    background-color: $white;
    padding: 1rem;
    font-weight: map-get($font-weight, Medium);
    text-transform: capitalize;
    margin-right: 1vw;

    @include respond(tablet) {
      width: 60vw;
    }
  }

  &__btn {
    font-size: $font-sm;
  }
}

.PrivateTabIndicator-root-1 {
  background-color: rgb(245, 197, 24) !important;
}

.MuiTab-wrapper {
  font-size: $font-sm;
  text-transform: capitalize;

  @include respond(tablet) {
    font-size: $font-xsm;
  }
}
