@import "../../Styles/mixins";
@import "../../Styles/variables";

.footer {
  margin-top: 4rem;
  background-color: $DarkGrey;
  height: 40vh;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    @include flexbox(row, space-between, center);
    padding: 2rem 0;
  }

  &__logo {
    color: $Yellow;
    text-decoration: none;
    font-size: $font-l;
    text-transform: uppercase;
    font-weight: map-get($font-weight, bold);
    outline: none;
    border: none;
    @include respond(tablet) {
      font-size: $font-md;
    }
  }

  &__form {
    height: 100%;
    display: flex;
    @include flexbox(column, center, flex-start);
    &--name {
      @include flexbox(column, center, flex-start);
      margin-bottom: 1.3rem;
      label {
        font-size: $font-md;

        @include respond(tablet) {
          font-size: $font-sm;
        }
      }

      input {
        width: 40vw;
        padding: 1rem;
        border-radius: 0.3rem;

        @include respond(tablet) {
          width: 60vw;
        }
      }
    }
  }
}
