@import "../../Styles/mixins";
@import "../../Styles/variables";

.footer {
  background-color: $DarkGrey;
  padding: 3rem 0;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2rem;
    @include flexbox(row, space-between, center);
    flex-wrap: wrap-reverse;
  }

  &__left {
    &--text {
      font-size: $font-xsm;
      color: $lightGrey;
    }
  }

  &__logo {
    font-size: $font-l;
    color: $Yellow;
  }

  &__social {
    margin: 2rem 0;

    a {
      color: $lightGrey;
      margin-right: 2rem;
      font-size: $font-md;
      outline: none;
      border: none;
      transition: 0.3s ease;

      &:hover {
        color: $Yellow;
      }
    }
  }

  &__right {
    h1 {
      font-size: $font-l;
      margin-bottom: 3vh;
    }
    form {
      @include flexbox(column, center, flex-start);
      margin: 0 1rem;
      @include respond(tablet) {
        margin-bottom: 4vh;
      }

      input {
        min-width: 40rem;
        padding: 1rem;
        font-size: $font-xsm;
        border-radius: 0.4rem;
        margin-bottom: 2vh;
        border: none;
        outline: none;
        font-family: inherit;
        font-weight: map-get($font-weight, Medium);

        @include respond(mobile) {
          min-width: 40vw;
        }
      }

      label {
        font-size: $font-md;
        margin-bottom: 1vh;
      }

      textarea {
        font-family: inherit;
        font-weight: map-get($font-weight, Medium);
        min-width: 40rem;
        padding: 1rem;
        font-size: $font-xsm;
        border-radius: 0.4rem;
        border: none;
        outline: none;
        margin-bottom: 2vh;

        @include respond(mobile) {
          min-width: 25rem;
        }
      }
    }
  }
}

.pop {
  margin-bottom: 1vh;
  color: $Yellow;
  font-size: $font-xsm;
}

.hide {
  display: none;
}
