@import "../../Styles/mixins";
@import "../../Styles/variables";

.trending {
  padding: 3rem 1rem;
  margin-top: 8rem;

  &__pagination {
    text-align: center;
    &--one {
      margin-right: 1vw;
    }
  }

  @include respond(mobile) {
    margin-top: 6rem;
  }

  @include respond(tablet) {
    padding: 2rem 1rem;
  }

  @include respond(mobile) {
    padding: 1rem;
  }

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    @include flexbox(row, space-between, center);
    margin-bottom: 4vh;

    @include respond(tablet) {
      margin-bottom: 2vh;
    }

    &--selecone {
      padding: 0 2rem;
      margin: 0 1vw 0 0;
      font-size: $font-sm;

      @include respond(tablet) {
        font-size: $font-xsm;
      }
    }

    &--selecttwo {
      padding: 0 2rem;
      font-size: $font-sm;

      @include respond(tablet) {
        font-size: $font-xsm;
      }
    }

    &--sort {
      h4 {
        font-size: $font-md;
        margin-bottom: 0.5rem;
        text-transform: capitalize;

        @include respond(tablet) {
          font-size: $font-sm;
        }

        @include respond(tablet) {
          font-size: $font-xsm;
        }
      }
    }

    &--title {
      font-size: $font-l;
      text-transform: capitalize;
      font-weight: map-get($font-weight, bold);

      @include respond(tablet) {
        font-size: $font-md;
      }
    }
  }
}
